.mainScreen img {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.textMainScreenOutput {
  font-weight: 800;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #010100;
  font-size: 23px;
  text-align: justify;
  padding-top: 12%;
  padding-left: 32%;
  padding-right: 23%;
  line-height: 1.1em;
}
aside{
  display: inline-block;
  font-size: 30px;
  font-weight: 900;
  font-family: 'Open Sans Condensed', sans-serif;
}