.mainScreen img {
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.textMainScreenOutput {
  color: #ffffff;
}
.textMainScreenOutput {
  font-weight: 500;
  font-size: 16px;
  padding-top: 5%;
  padding-left: 25%;
  padding-right: 15%;
}
